@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

#body {
    background-color: #87CEEB;
    font-family: 'Roboto';
    font-weight: 400;
}

.card {
    background-color: white;
    height: 550px;
    width: 400px;
    border-radius: 7px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
}

.card-header {
    background-color: #120A8F;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 30px;
    height: 65px;
    font-family: 'Titillium Web';
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    width: 85%;
    margin: auto;
}

.form-group {
    margin-top: 20px;
}

label {
    display: block;
}

.text-input {
    font-size: 15px;
    margin-top: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #00000060;
    border-radius: 4px;
}


a {
    all: unset;
    color: #120A8F;
}

.button {
    background-color: #120A8F;
    padding: 10px;
    margin: 25px 0 25px 0;
    width: 100%;
    color: white;
    font-family: 'Roboto';
    font-size: 18px;
    border-radius: 8px;
    border: none;
}

.button,
a:hover {
    cursor: pointer;
}

.card-footer {
    border-top: 1px solid #130a8f4b;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}